<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>serialNumber</key>
		<string>1</string>
		<key>orderNumber</key>
		<string>201803212013900254254006</string>
		<key>orderTime</key>
		<date>2018-03-21T07:04:41Z</date>
		<key>orderAmount</key>
		<string>8.35</string>
		<key>orderCollector</key>
		<string>柳春艳</string>
		<key>orderState</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>serialNumber</key>
		<string>2</string>
		<key>orderNumber</key>
		<string>201803212013900254254006</string>
		<key>orderTime</key>
		<date>2018-03-21T07:04:41Z</date>
		<key>orderAmount</key>
		<string>8.35</string>
		<key>orderCollector</key>
		<string>柳春艳</string>
		<key>orderState</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>serialNumber</key>
		<string>3</string>
		<key>orderNumber</key>
		<string>201803212013900254254006</string>
		<key>orderTime</key>
		<date>2018-03-21T07:04:41Z</date>
		<key>orderAmount</key>
		<string>8.35</string>
		<key>orderCollector</key>
		<string>柳春艳</string>
		<key>orderState</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>serialNumber</key>
		<string>4</string>
		<key>orderNumber</key>
		<string>201803212013900254254006</string>
		<key>orderTime</key>
		<date>2018-03-21T07:04:41Z</date>
		<key>orderAmount</key>
		<string>8.35</string>
		<key>orderCollector</key>
		<string>柳春艳</string>
		<key>orderState</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>serialNumber</key>
		<string>5</string>
		<key>orderNumber</key>
		<string>201803212013900254254006</string>
		<key>orderTime</key>
		<date>2018-03-21T07:04:41Z</date>
		<key>orderAmount</key>
		<string>8.35</string>
		<key>orderCollector</key>
		<string>柳春艳</string>
		<key>orderState</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
