<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>拍摄照片</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>UIImagePickerController</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>AVFoundation</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>人脸识别</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>二维码扫描</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>原生二维码扫描</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第二组第二行</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第二组第三行</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组三</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>第三组第一行</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第三组第二行</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第三组第三行</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
