<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>分组一</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>Airbnb</string>
				<key>image</key>
				<string>Airbnb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Facebook</string>
				<key>image</key>
				<string>Facebook</string>
			</dict>
			<dict>
				<key>title</key>
				<string>GooglePlus</string>
				<key>image</key>
				<string>GooglePlus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Instagram</string>
				<key>image</key>
				<string>Instagram</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组二</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>MySpace</string>
				<key>image</key>
				<string>MySpace</string>
			</dict>
			<dict>
				<key>title</key>
				<string>NextDoor</string>
				<key>image</key>
				<string>NextDoor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Pinterest</string>
				<key>image</key>
				<string>Pinterest</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Quora</string>
				<key>image</key>
				<string>Quora</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组三</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>Skype</string>
				<key>image</key>
				<string>Skype</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Snapchat</string>
				<key>image</key>
				<string>Snapchat</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Twitter</string>
				<key>image</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>WeChat</string>
				<key>image</key>
				<string>WeChat</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组四</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>WhatsApp</string>
				<key>image</key>
				<string>WhatsApp</string>
			</dict>
			<dict>
				<key>title</key>
				<string>YouTube</string>
				<key>image</key>
				<string>YouTube</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
