<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ReactiveCocoa 教程权威介绍1</string>
		<key>image</key>
		<string>diqiu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1</string>
		<key>image</key>
		<string>duoseqiu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2</string>
		<key>image</key>
		<string>feichuan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3</string>
		<key>image</key>
		<string>feihang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4</string>
		<key>image</key>
		<string>feihangqiu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5</string>
		<key>image</key>
		<string>hengqiu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6</string>
		<key>image</key>
		<string>huojian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7</string>
		<key>image</key>
		<string>huojian2</string>
	</dict>
</array>
</plist>
