<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>示例1</string>
		<key>image</key>
		<string>01</string>
	</dict>
	<dict>
		<key>title</key>
		<string>XBSettingController</string>
		<key>image</key>
		<string>02</string>
	</dict>
	<dict>
		<key>title</key>
		<string>正则表达式</string>
		<key>image</key>
		<string>03</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PPNumberButton示例</string>
		<key>image</key>
		<string>03</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CoreLocation示例</string>
		<key>image</key>
		<string>04</string>
	</dict>
</array>
</plist>
