<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>UILabel</string>
		<key>image</key>
		<string>10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UIButton</string>
		<key>image</key>
		<string>11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>headerView 下拉放大效果</string>
		<key>image</key>
		<string>12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>注册页面示例</string>
		<key>image</key>
		<string>13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>意见反馈</string>
		<key>image</key>
		<string>14</string>
	</dict>
	<dict>
		<key>title</key>
		<string>正则表达式</string>
		<key>image</key>
		<string>15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>验证码输入框</string>
		<key>image</key>
		<string>15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JVFloatLabeledTextField 示例</string>
		<key>image</key>
		<string>15</string>
	</dict>
</array>
</plist>
