<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>营业收入</string>
		<key>image</key>
		<string>store_yingyeshouru</string>
	</dict>
	<dict>
		<key>title</key>
		<string>业绩曲线</string>
		<key>image</key>
		<string>store_yejiquxian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>申请记录</string>
		<key>image</key>
		<string>store_shenqingjilu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>提现申请</string>
		<key>image</key>
		<string>store_tixianshenqing</string>
	</dict>
</array>
</plist>
