<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>UISplitViewController</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>diqiu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>duoseqiu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>feichuan</string>
			</dict>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>feihang</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>PYSearch 示例</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>feihangqiu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>hengqiu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>huojian</string>
			</dict>
			<dict>
				<key>title</key>
				<string>---</string>
				<key>image</key>
				<string>huojian2</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
