<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>MVC实现的两种静态列表样式</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>UITableViewStyleGrouped</string>
				<key>image</key>
				<string>yuhangyuan2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableViewStylePlain</string>
				<key>image</key>
				<string>yuhangyuan</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>UITableViewCellStyle 样式</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>UITableViewCellStyleDefault</string>
				<key>image</key>
				<string>yueqiu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableViewCellStyleValue1</string>
				<key>image</key>
				<string>xingyue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableViewCellStyleValue2</string>
				<key>image</key>
				<string>xingxi</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>image</key>
				<string>xingqiu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>评论列表</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>评论列表1</string>
				<key>image</key>
				<string>xinghe</string>
			</dict>
			<dict>
				<key>title</key>
				<string>评论列表2</string>
				<key>image</key>
				<string>xinggui</string>
			</dict>
			<dict>
				<key>title</key>
				<string>评论列表3</string>
				<key>image</key>
				<string>wangyuanjing</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
