<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>警告框样式</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>1个按钮的 Alert 样式</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标准的 Alert 样式：取消+确定</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标准的 Alert 样式：取消+删除</string>
			</dict>
			<dict>
				<key>title</key>
				<string>带有多个按钮的 Alert 样式</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>操作表样式</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>标准的 Action Sheet 样式</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>输入框样式</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>输入框样式</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>UIAlertController+Blocks</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>一个按钮的 Alert</string>
			</dict>
			<dict>
				<key>title</key>
				<string>多个按钮的 Alert</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Action Sheet 样式</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>JXAlertController</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>1个按钮的 Alert 样式</string>
			</dict>
			<dict>
				<key>title</key>
				<string>便捷语法,同上</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标准的 Alert 样式</string>
			</dict>
			<dict>
				<key>title</key>
				<string>带有多个按钮的 Alert 样式</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标准的 Action Sheet 样式</string>
			</dict>
			<dict>
				<key>title</key>
				<string>输入框样式</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自动消失样式</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>播放系统声音、提醒声音和振动设备</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>播放系统声音</string>
			</dict>
			<dict>
				<key>title</key>
				<string>播放提醒声音</string>
			</dict>
			<dict>
				<key>title</key>
				<string>执行震动</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
