<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>模态视图样式</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>UIModalPresentationFullScreen</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationPageSheet</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationFormSheet</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationCurrentContext</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationCustom</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationOverFullScreen</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationOverCurrentContext</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationPopover</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIModalPresentationAutomatic</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>UIModalTransitionStyle</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>从底部向上滑入</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>水平翻转</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>交叉溶解</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>纸张翻页效果</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>自定义Demo</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>日期选择器</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>半屏显示页面</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>应用更新弹窗</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>输入密码框</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>Presentation Transitions</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>交叉溶解</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>可交互式的 swipe</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Custom Presentation</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Adaptive Presentation</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Checkerboard</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Slide</string>
				<key>image</key>
				<string>expression_blue</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
