<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>分组一</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>UIViewContentMode 图片显示模式</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>1.2</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>1.3</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组二</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>2.1</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>2.2</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>2.3</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组三</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>3.1</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3.2</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3.3</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
