<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>第三方支付</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>订单示例页面</string>
				<key>image</key>
				<string>Airbnb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信支付</string>
				<key>image</key>
				<string>weChatLogo</string>
			</dict>
			<dict>
				<key>title</key>
				<string>支付宝原生支付</string>
				<key>image</key>
				<string>alipayLogo</string>
			</dict>
			<dict>
				<key>title</key>
				<string>支付宝H5支付</string>
				<key>image</key>
				<string>alipayLogo</string>
			</dict>
			<dict>
				<key>title</key>
				<string>工商银行</string>
				<key>image</key>
				<string>GooglePlus</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
