<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>扫一扫</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发票提取</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发票查验</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>抬头管理</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发票管理</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>账号管理</string>
		<key>image</key>
		<string>second</string>
	</dict>
</array>
</plist>
