<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>分组一</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>使用通用基类加载Web页面</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView 与 WKWebView 混排1</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView 与 WKWebView 混排2</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView 与 WKWebView 混排3</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView 与 WKWebView 混排4</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>分组二</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>第二组第一行</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第二组第二行</string>
				<key>image</key>
				<string>first</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第二组第三行</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
