<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>订单管理</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>订单管理</string>
				<key>image</key>
				<string>Airbnb</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>发票管理</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>已开发票管理</string>
				<key>image</key>
				<string>Instagram</string>
			</dict>
			<dict>
				<key>title</key>
				<string>发票推送</string>
				<key>image</key>
				<string>NextDoor</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>业务管理</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>员工管理</string>
				<key>image</key>
				<string>Skype</string>
			</dict>
			<dict>
				<key>title</key>
				<string>商品管理</string>
				<key>image</key>
				<string>Snapchat</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>权限管理</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>管理员目录</string>
				<key>image</key>
				<string>MySpace</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>用户管理</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>用户管理</string>
				<key>image</key>
				<string>Quora</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>日志管理</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>操作日志</string>
				<key>image</key>
				<string>GooglePlus</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
