<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ActionSheetStringPicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ActionSheetMultipleStringPicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ActionSheetDatePicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ActionSheetLocalePicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ActionSheetDistancePicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ActionSheetCityPicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ActionSheetPCAPicker</string>
		<key>image</key>
		<string>second</string>
	</dict>
</array>
</plist>
