<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>列表表头标题</string>
		<key>footerTitle</key>
		<string>这是一个模型转换框架示例</string>
		<key>cells</key>
		<array>
			<dict>
				<key>image</key>
				<string>diqiu</string>
				<key>title</key>
				<string>地球</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>duoseqiu</string>
				<key>title</key>
				<string>多色球</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>feichuan</string>
				<key>title</key>
				<string>飞船</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>yueqiu</string>
				<key>title</key>
				<string>月球</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>yuhangyuan</string>
				<key>title</key>
				<string>宇航员</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>hengqiu</string>
				<key>title</key>
				<string>恒星</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huojian</string>
				<key>title</key>
				<string>火箭</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xingqiu</string>
				<key>title</key>
				<string>星球</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>sanqiu</string>
				<key>title</key>
				<string>三球</string>
				<key>date</key>
				<string>2021-01-16T02:50:53Z</string>
			</dict>
			<dict>
				<key>image</key>
				<string>taikong</string>
				<key>title</key>
				<string>太空</string>
				<key>date</key>
				<string>2021-01-16T02:51:07Z</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
