<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>UIImagePickerController 示例</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>拍摄照片并保存到系统相册，base64 编码</string>
				<key>image</key>
				<string>image</string>
			</dict>
			<dict>
				<key>title</key>
				<string>从相册选取图片</string>
				<key>image</key>
				<string>image</string>
			</dict>
			<dict>
				<key>title</key>
				<string>从相册获取或者打开相机拍摄，并保存到系统相册</string>
				<key>image</key>
				<string>image</string>
			</dict>
			<dict>
				<key>title</key>
				<string>打开相机拍照、录制视频</string>
				<key>image</key>
				<string>image</string>
			</dict>
			<dict>
				<key>title</key>
				<string>使用 Core Image 框架实现人脸识别</string>
				<key>image</key>
				<string>video</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>AVFoundation 示例</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>拍摄照片</string>
				<key>image</key>
				<string>video</string>
			</dict>
			<dict>
				<key>title</key>
				<string>录制视频</string>
				<key>image</key>
				<string>video</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>PHPickerViewController 示例</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>示例一</string>
				<key>image</key>
				<string>image</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>二维码扫描</string>
		<key>cells</key>
		<array>
			<dict>
				<key>title</key>
				<string>原生代码实现二维码扫描</string>
				<key>image</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
